.my-rect {
    -fx-fill: yellow;
    -fx-stroke: green;
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}

.button {
    -fx-pref-height: 100;
    -fx-pref-width: 100;
    -fx-background-color: #41cd71;
}

.text {
    -fx-font-size: 20;
}